            body{
                
                background: url("foto/bg_3.jpg") no-repeat;
                background-size: cover;
            }
             div{
                float: left;
                padding: 5px;
                margin: 10px;
                border: 3px solid black;
                border-radius: 20px;
                width: 335px;
                opacity: 0.9;
                background:  graytext;
            }
            img.top{
                height: 300px;
                width: 500px;
                
            }
            img.down{
                height: 400px;
                width: 370px;
                
                opacity: 1;
                
            }
           
            table#top{
                border-collapse: collapse;
                width: 100%;
            }
             table#down{
                 margin-top: 800px;
                border: 1px solid;  
                border-radius: 20px;
                background:gray;
                opacity: 1;
               
            }
           
            *{
                font-family: Lobster;
                 color: white;
            }
            .per{
                color: pink ;
                                
            }
           i{
               font-size: 30px;
               color: antiquewhite;
            }
           
           .fade:hover {
             background:  darkslategray;
             -webkit-transform: scale(1.1);
             -ms-transform: scale(1.1);
             transform: scale(1.1);
           }

            
