table{
                border-radius: 20px;
                margin-left: 100px;
                margin-right: 100px;
                padding: 5px;
                }
                *{
                    font-family: Lobster;
                }
               td{
                    background-color: black;
                    opacity: 0.7;
                    color: whitesmoke;
                }
                #nobg{
                    opacity: 1;
                    
                }
            body{
               background: url("foto/bg_1.jpg") no-repeat;
               background-size: cover;
            }
            img{
                width: 500px;
                height:400px; 
            }
            ul{
                list-style-type: armenian;
            }
             A[href*=".html"]{
               color: lightseagreen;
            }

            
