body{
                background: url("foto/bg_1.jpg") no-repeat;
                background-size: cover;
            }
            div{
                font-family: Arial;
                color: white;
                background: black;
                opacity: 0.7;
                
            }
            a{
                color: lightseagreen;
            }
